__pycache__/
.DS_Store
.vscode/
logs/
checkpoints/
wandb/
nohup.out
*.o*
daily_challenge_times.txt

# aegis generation temp files
datasets/aegis/temp_parquet
datasets/aegis/sort_temp
datasets/aegis/temp_parquet.zip
datasets/aegis/aegis.zip