__pycache__/
.DS_Store
.vscode/
logs/
checkpoints/
wandb/
nohup.out
*.o*
selfplay.pgn
slurm_jobs/
*.tar.gz
outputs/
src/athena/datasets/chessbench/data
src/athena/datasets/chessbenchmate
.venv
src/athena/exports